<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Access denied</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<th:block th:include="/header"></th:block>
	<th:block th:include="/menu"></th:block>
	<div class="page-title">EBook store</div>
	<div class="demo-container">
		<div class="page-title">Access Denied!</div>
		<h3 style="color: red;">Sorry, you can not access this page!</h3>

	</div>
	<th:block th:include="/footer"></th:block>
</body>
</html>