<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${name}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<th:block th:include="/header"></th:block>
	<th:block th:include="/menu"></th:block>
	<div class="page-title">EBook store</div>

	<div class="demo-container">
		<h3 >Thank you!</h3>
		Your order number is : <span th:utext="${lastOrder.orderNum}"></span>
		<br>
		<a href="~/../ebooks.zip">Download zipfile!</a>
	</div>
	<th:block th:include="/footer"></th:block>
</body>
</html>